.factory {
	&-block {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		&__text {
			flex-basis: 50%;
			margin-left: 70px;
			font-size: 20px;
		}
		&__image {
			margin-top: 20px 0;
		}
	}
	
}