.navbar {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	width: 100%;
	background-color: #fff;
	&-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__mobile, &__landline {
		text-align: right;
	}
	&__phone {
		font-size: 19px;
		font-family: 'Proxima Nova Semibold', sans-serif;
		display: block;
		text-decoration: none;
		color: #1c1c1c;
		margin-bottom: 5px;
	}
	&__small-text {
		font-size: 14px;
		color: #1c1c1c;
		text-decoration: none;
		display: block;
	}
}

.menu {
	position: fixed;
	top: 80px;
	padding: 16px 0;
	z-index: 0;
	width: 100%;
	left: 0;
	background-color: $primary;
	color: #fff;
	transform: translateY(-200%);
	&_active {
		transform: translateY(0);
	}
	&__link {
		font-size: 17px;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
	}
	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	&-button {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		background-color: transparent;
		border: none;
		border-right: 1px solid rgba(#551bba, 0.1);
		border-left: 1px solid rgba(#551bba, 0.1);
		height: 82px;
		width: 70px;
		&__line {
			display: block;
			width: 20px;
			height: 3px;
			background-color: #507fe1;
			margin: 2px 0;
		}
	}
}
.logo {
	&__text {
		@include bold;
		margin-bottom: 5px;
		font-size: 18px;
		text-transform: uppercase;
		display: block;
	}
	&__description {
		font-size: 14px;
		display: block;
		color: #6b6b6b;
	}
}

@media (max-width: 991px) {
	.navbar {
		&__mobile, &__landline {
			display: none;
		}
	}
}

@media (max-width: 576px) {
	.logo {
			display: none;
	}
	.menu {
		top: 60px;
		&-button {
			height: 60px;
		}
		&__nav {
			flex-direction: column;
		}
		&__link {
			margin-bottom: 20px;
		}
	}
}